body
{
    margin: 0;
    padding: 0;
    background-image: url("./public/FUNDO8.png");
}

h1
{
    background-color: blueviolet;
    color: white;
    margin: 0;
    padding: 30px;

    text-align: center;
}

a
{
    color:aqua;
}

img
{
    width: 500px;
}
p
{
text-align: center;
color: white;
}

h3
{
color: white;
}